<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3>List of Titles are :- </h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
            <% for (list of lists){ %>
                <a href="/listing/<%= list._id%>">
                    <div class="card col" style="width: 20rem;">
                        <img src="<%=list.image.url%>" class="card-img-top" alt="..." style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <b>
                                <%=list.title %>
                            </b> <br>
                            Rs.<%=list.price %>/night
                        </div>
                    </div>
                </a>
                <% } %>
        </div>

    </body>