<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <h2 class="offset-2"> Adding New Place</h2> <br><br>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listing" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" placeholder="title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="" cols="10" rows="3" placeholder="description"
                            class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" name="image" placeholder="image" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="price" placeholder="price" class="form-control">
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="Location" class="form-label">Location</label>
                            <input type="text" name="location" placeholder="location" class="form-control">
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label for="Location" class="form-label">Country</label>
                        <input type="text" name="country" placeholder="country" class="form-control">
                    </div>
        
                    <button class="btn btn-dark " >Submit Details </button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>